body {border: 2px solid black;padding: 30px;margin: 25px;font: serif;background-color:lightyellow;}
h1   {font-family: sans-serif;color: black;font-size: 300%; text-align: center;}
h2   {font-family: sans-serif;color: black;font-size: 275%; text-align: center;}
p    {font-family: serif;color: black;font-size: 200%;      text-align: center;}
a    {font-family: serif;color: darkblue;font-size: 200%; text-decoration: none;}